<h1><%= @article.title%></h1>
<p><%= @article.content%></p>
<<<<<<< HEAD
<form action="/articles/<%= @article.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
=======
>>>>>>> 6812cb991d1fc107f74ac97bd4724e1c005069a0
